body {
    background-color:gray;
}
.header {
    text-align:center;
    font-size:8.7vw;
    color:white;
    background-color:Lightblue;
    font-family:Georgia;
}
.topnav {
   background-color:lightseagreen; 
   font-size:4.5vw;
   color:white;
}
.topnav a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
}
.topnav a:hover {
    background-color:teal;
    color: black;
  }
.topnav {
    display:table;
    margin:auto;
  }
  .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
 } 
 .menuhead {
    text-align:center;
    font-size:8vw;
    color:white;
    background-color:Lightblue;
 }
 #footer {
     Background-color:lightblue;
     
 }
 .hourspage {
     font-size:6vw;
     color:#00134d;
     text-align:center;
     margin-left: auto;
    margin-right: auto;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.foodname {
    text-align:center;
    font-size:4.3vw;
}
.item {
    font-size:3.5vw;
    text-align:center;
}
#pic {
    width:80%;
}
th {
    text-align:center;
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 15px;
  }
.description {
    font-size:3vw;
    text-align:center;
}
.map {
    width:90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.abtpage {
    font-size:3.2vw;
    text-align:center;
}
.michelin {
    float:right;
}